
.footer {
    background-color: $dark;
    overflow: hidden;
    padding: 35px 0;
}

.footer__nav {
    
    ul {
        font-size: 0;
        text-align: right;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

.footer__link {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 700;
    transition: 120ms linear;
    &:hover {
        color: $orange;
    }
    &--orange {
        color: $orange;
    }
}