.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-top: 35px;
    padding-bottom: 35px;

    &__nav {
        font-size: 0;
        text-align: right;
        a {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            color: #000;
            font-size: 0.8rem;
            padding: 16px 25px;
            font-weight: bold;
            transition: 120ms linear;
            &:hover {
                color: $orange;
            }
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    &__nav-link--btn {
        border: 1px solid $orange;
        border-radius: 44px;
        background-color: #fff;
        transition: 120ms linear;
        &:hover {
            background-color: $orange;
            color: #fff !important;
        }
    }

}