// medias
@media all and (max-width: 1280px) {

    html {
        font-size: 18px;
    }

    .atm img {
        max-width: 100%;
        display: block;
    }

    .block img {
        max-width: 100%;
    }

}

@media all and (max-width: 1024px) {
    .atm .row {
        flex-direction: column-reverse;
        align-items: center;
        & > div:not(:last-child) {
            margin-top: 30px;
        }
    }
}

@media all and (max-width: 768px) {
    .row--crm {
        flex-direction: column-reverse;
        & > div:first-child {
            margin-top: 40px;
        }
    }
    .atm h1 {
        white-space: normal;
        font-size: 2rem;
        span {
            left: 0;
            padding: 10px;
            margin-top: 10px;
        }
    }
    .atm {
        height: auto;
        min-height: 0;
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .block, .recipes, .contact {
        .row > div:not(:last-child) {
            margin-bottom: 30px;
        }
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
    .atm {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h1 br {
            display: none;
        }
    }
    .atm__button, .atm__subtitle, .atm h1 {
        text-align: center;
    }
    .header__nav {
        display: none;
    }
    .footer__nav ul {
        text-align: left;
        padding-top: 20px;
    }
    .logos {
        max-width: 100%;
        img {
            margin-left: 0;
            margin-right: 20px;
            display: inline-block;
        }
    }
    .hidden-on-mobile {
        display: none;
    }
    .atm h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.8rem;
    }
}