.sidebar {
    width: 100%;
    max-width: 280px;

    &__user {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 30px 30px 22px 30px;
    }

    &__links {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &--friends {
            width: 54px;
            height: 50px;
            background-image: url('../img/icon-friends.png');
        }
        &--music {
            width: 51px;
            height: 54px;
            background-image: url('../img/icon-music.png');
        }
        &--messages {
            width: 54px;
            height: 54px;
            background-image: url('../img/icon-messages-disabled.png');
            position: relative;
            &--active {
                background-image: url('../img/icon-messages.png');
                & > div {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    color: #fff;
                    background-color: red;
                }
            }
        }
    }

    &__user-avatar {
        width: 221px;
        height: 241px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__user-name {
        margin-top: 20px;
        font-size: 24px;
        color: #3990F1;
        font-weight: 900;
    }

    &__user-desc {
        margin-top: 10px;
        color: #999999;
        font-size: 14px;
        line-height: 1.4em;
    }

}

.wall {
    width: 100%;
    max-width: 578px;

    &__title {
        font-size: 36px;
        color: #636363;
        padding: 15px 0;
        font-weight: 900;
    }

    &__list {

    }

    &__item {
        background: #CEE6FE;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        height: 160px;
        position: relative;
        padding: 20px 25px;
        margin-bottom: 20px;
        
        &--banned {
            background-color: #e4e4e4;
            .wall__item-name {
                color: #636363;
            }
            .wall__reply, .wall__report {
                background-color: #c4c4c4;
                cursor: not-allowed;
            }
            .wall__item-avatar {
                background-image: url('../img/avatar-banned.png') !important;
                background-color: transparent !important;
                background-size: cover !important;
            }
        }

    }

    &__item-meta {
        margin-right: 20px;
    }

    &__item-avatar {
        min-width: 70px;
        max-width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__item-name {
        margin-top: 12px;
        text-align: center;
        font-size: 18px;
        color: #3990F1;
        font-weight: 900;
        line-height: 1.4em;
    }

    &__item-message {

    }

    &__item-text {
        font-size: 14px;
        color: #333;
        line-height: 1.4em;
    }

    &__item-buttons {
        position: absolute;
        right: 25px;
        bottom: 20px;
        font-size: 0;
    }

    &__reply {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        padding: 13px 26px 12px 56px;
        background: #62B370;
        border-radius: 20px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translate(0,-50%);
            width: 20px;
            height: 20px;
            background: url('../img/icon-reply.png') no-repeat center;
            background-size: cover;
        }
    }

    &__report {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
        padding: 13px 16px 12px 41px;
        background: #3990F1;
        border-radius: 20px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translate(0,-50%);
            width: 14px;
            height: 14px;
            background: url('../img/icon-report.png') no-repeat center;
            background-size: cover;
        }
    }

}
