body {
    background-color: red !important;
}

.login {
    height: 100%;
}

.login__button {
    -sand-transform: translate(98px, 0);
}

#header {
    -js-display: flex;
    display: flex;
}

.header__logo {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/icon-vk.png',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/icon-vk.png',sizingMethod='scale')";
}