.success {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        width: 100%;
    }

    &__video {
        width: 100%;
        max-width: 670px;
        video {
            width: 100%;
        }
    }

    &__result {
        width: 300px;
        height: 376px;
        background: url('../img/icon-success-2.png') no-repeat center;
        background-size: cover;
        margin: 0 auto;
    }

    &__desc {
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        margin-top: 40px;
    }

    &__next {
        text-align: center;
        font-size: 0;
        margin-top: 35px;
        a {
            display: inline-block;
            line-height: 60px;
            padding: 0 33px;
            background: #62B370;
            border-radius: 40px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
        }
    }

}