.chat {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, 0.5);
    overflow: hidden;
    z-index: 10;
    cursor: pointer;
    
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-in-out;

    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 150%);
        width: 100%;
        max-width: 600px;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
        padding: 30px 45px;
        max-height: 100vh;
        overflow: auto;
        transition: 300ms linear;
        cursor: default;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        .chat__wrapper {
            transform: translate(-50%, -50%);
        }
    }

    &.maybe {
        .chat__item-message {
            background: #CDEDD3;
        }
        .chat__item--answer {
            .chat__item-message {
                background: #CEE6FE;
            }
        }
    }

    &__title {
        font-size: 24px;
        line-height: 36px;
        font-weight: 900;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    &__list {

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &--answer {
            flex-direction: row-reverse;
            .chat__item-message {
                background: #FED7CE;
            }
            .chat__item-avatar {
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }

    &__item-avatar {
        max-width: 70px;
        min-width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        margin-right: 20px;
    }

    &__item-message {
        height: 90px;
        padding: 10px;
        border-radius: 6px;
        background: #CEE6FE;
        width: 100%;
        max-width: 345px;
    }

    &__item-name {
        font-size: 18px;
        line-height: 22px;
        color: #3990F1;
        margin-bottom: 8px;
        font-weight: 900;
    }

    &__item-text {
        font-size: 14px;
        line-height: 20px;
        color: #333;
    }

    &__button {
        text-align: center;
        margin-top: 30px;
        font-size: 0;
    }

    &__close {
        display: inline-block;
        padding: 0 30px;
        background: #62B370;
        border-radius: 20px;
        font-family: $default-font;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        border: 0;
        line-height: 42px;
    }

}

.spopup {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, 0.5);
    overflow: hidden;
    z-index: 10;
    
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-in-out;

    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 150%);
        width: 100%;
        max-width: 442px;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
        padding: 25px 40px 40px 40px;
        max-height: 100vh;
        overflow: auto;
        transition: 300ms linear;
        cursor: default;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        .spopup__wrapper {
            transform: translate(-50%, -50%);
        }
    }

    &__pic {
        width: 336px;
        height: 189px;
        background: url('../img/icon-spopup.png') no-repeat center;
        background-size: cover;
        margin: 0 auto;
    }

    &__title {
        font-size: 24px;
        line-height: 1em;
        font-weight: 900;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 15px;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 1em;
        font-weight: 900;
        color: #3990F1;
        margin-bottom: 20px;
        text-align: center;
    }

    &__desc {
        font-size: 14px;
        line-height: 1.4em;
        color: #333;
        text-align: center;
    }

    &__button {
        text-align: center;
        margin-top: 35px;
        font-size: 0;
    }

    &__close {
        display: inline-block;
        padding: 0 30px;
        background: #62B370;
        border-radius: 20px;
        font-family: $default-font;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        border: 0;
        line-height: 42px;
    }

}