.messages {

    &__list {

    }

    &__item {
        height: 110px;
        background: #4680C2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        color: #fff;

        &.banned {
            background-color: #e4e4e4;
            .messages__item-name, .messages__item-text {
                color: #c4c4c4;
            }
            .wall__reply, .wall__report {
                background-color: #c4c4c4;
                cursor: not-allowed;
            }
            .messages__item-avatar {
                background-image: url('../img/avatar-banned.png') !important;
                background-color: transparent !important;
                background-size: cover !important;
            }
            &.maybe {
                .messages__item-avatar {
                    background-image: url('../img/messages-avatar-04.png') !important;
                    background-color: transparent !important;
                    background-size: cover !important;
                }
                background: #62B370;
                .messages__item-name, .messages__item-text {
                    color: #fff;
                }
                .wall__reply, .wall__report {
                    background-color: #c4c4c4;
                    cursor: not-allowed;
                }
            }
        }

        &--right {
            background-color: #CDEDD3;
            .messages__item-name {
                color: #636363;
            }
            .wall__reply, .wall__report {
                background-color: #c4c4c4;
            }
        }

        &.locked {
            .wall__reply, .wall__report {
                background-color: #c4c4c4;
                cursor: not-allowed;
            }
        }

    }

    &__item-avatar {
        min-width: 70px;
        max-width: 70px;
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 20px;
    }

    &__item-meta {
        padding-right: 10px;
    }

    &__item-name {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }

    &__item-text {
        font-size: 14px;
        line-height: 20px;
    }

    &__item-buttons {
        font-size: 0;
        margin-left: auto;
        width: 100%;
        max-width: 300px;
    }

}