.login {
    min-height: 100vh;
    background: url('../img/login-bg.png') no-repeat center bottom;
    position: relative;

    &__button {
        display: inline-block;
        position: absolute;
        bottom: 315px;
        left: 50%;
        transform: translate(98px, 0);
        line-height: 42px;
        background: #3990F1;
        border-radius: 30px;
        padding: 0 50px;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

}